
<main class="container my-5" style="margin-top : 0px;">
<h1>La DREAM team !</h1>
<br>
  <div class="card-deck">
    <div class="card text-center bg-light my-3 mx-3" style="border:none; text-align:right;">
    
      <div class="card-body">
        <h5 class="card-title">Anthony "Yoni" K</h5>
        <p class="card-text">Développeur-Moussaillon chez THP... Et surtout chez lui.</p>
      </div>
    </div>

    <div class="card text-center bg-light my-3 mx-3" style="border:none;">
      
      <div class="card-body">
        <h5 class="card-title">Olivier "Ze Boss" F</h5>
        <p class="card-text">Développeur-Militant à la NAÏF.</p>
      </div>
    </div>
  </div>
</main>


